@font-face {
  font-family: Roboto-Regular, sans-serif;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold, sans-serif;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}
* {
  top: 0;
  left: 0;
}

body {
  margin: 0;
  background: #08020d;
  font-family: Roboto-Regular, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #cacaca;
}

header {
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  font-size: 11px;
  position: absolute;
}
header nav a {
  text-decoration: none;
  color: #cacaca;
}
header nav a:hover {
  color: #fff;
}
header .logo {
  color: #fff;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  line-height: 0;
}
header input {
  background: #3c3b3d;
  outline: none;
  border: none;
  color: #cacaca;
  text-transform: uppercase;
}
header input::-webkit-input-placeholder {
  color: #757575;
}
header input::-moz-placeholder {
  color: #757575;
}

@media (orientation: landscape) and (min-width: 1201px) {
  header {
    font-size: 11px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    right: 0;
    left: 0;
    top: 25px;
  }
  header nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 314px;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 450px;
  }
  header .logo {
    margin-right: 86px;
    width: 102px;
  }
  header .logo img {
    width: 24px;
  }
  header input {
    border-radius: 100px;
    width: 228px;
    height: 25px;
    padding: 0 10px;
    font-size: 13px;
  }
}
@media (orientation: landscape) and (max-width: 1200px) {
  header {
    font-size: 11px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    right: 0;
    left: 0;
    top: 25px;
  }
  header nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 314px;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: calc(100vw - 314px - 86px - 248px - 102px);
  }
  header .logo {
    margin-right: 86px;
    width: 102px;
  }
  header .logo img {
    width: 24px;
  }
  header input {
    border-radius: 100px;
    width: 228px;
    height: 25px;
    padding: 0 10px;
    font-size: 13px;
  }
}
@media (orientation: portrait) {
  header {
    font-size: 11px;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    margin: 0 20px;
    top: 25px;
    height: 145px;
    justify-content: space-between;
  }
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
  }
  header .search {
    display: flex;
  }
  header input {
    flex: 1;
    border-radius: 100px;
    font-size: 13px;
    height: 25px;
    padding: 0 10px;
  }
  header .logo {
    width: 102px;
  }
  header .logo img {
    width: 24px;
  }
}
#page-description {
  padding: 200px 20px;
}
#page-description .banner-main {
  background-image: url(../images/Morten-Harket.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}
#page-description .main-section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#page-description .main-section div {
  display: flex;
  justify-content: space-between;
}
#page-description .main-section p {
  margin-bottom: 49px;
}
#page-description .btn {
  font-size: 12.8px;
  font-weight: 400;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 30px;
}
#page-description .btn-red::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/heart.svg);
  width: 20px;
  height: 20px;
  filter: invert(1);
  left: 30px;
  top: 20px;
}
#page-description .btn-purple::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/play-button.svg);
  width: 20px;
  height: 20px;
  filter: invert(1);
  left: 30px;
  top: 20px;
}
#page-description .btn-red {
  background: #95390c;
  position: relative;
  width: 200px;
  height: 62px;
}
#page-description .btn-red p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
}
#page-description .btn-purple {
  background: #5328a1;
  position: relative;
  width: 200px;
  height: 62px;
}
#page-description .btn-purple p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}

@media (orientation: landscape) {
  h1 {
    color: #fff;
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    color: #fff;
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  h3 {
    color: #fff;
    font-size: 24px;
    line-height: 36px;
    font-weight: normal;
    margin: 0;
  }

  .banner-main {
    height: 713px;
  }

  .main-section {
    margin-top: 50px;
  }
  .main-section div {
    flex-direction: row;
    width: 425px;
  }
}
@media (orientation: portrait) {
  h1 {
    color: #fff;
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  h3 {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    margin: 0;
  }

  .banner-main {
    height: 730px;
  }

  .main-section {
    margin-top: 25px;
  }
  .main-section div {
    flex-direction: column;
    width: 201px;
    height: 147px;
  }
}
#page-popular-track {
  font-size: 12.8px;
  line-height: 19.2px;
  padding: 100px 20px 0 20px;
}
#page-popular-track h2,
#page-popular-track h3 {
  font-weight: bold;
  text-transform: uppercase;
}
#page-popular-track h3 {
  font-size: 12.8px;
  line-height: 19.2px;
}
#page-popular-track h2 {
  margin-bottom: 48px;
}
#page-popular-track .track-flex {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}
#page-popular-track .track-flex img {
  width: 55px;
  height: 55px;
}
#page-popular-track .track-flex .track-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#page-popular-track .track-flex .track-info .name-track p {
  margin: 0;
}
#page-popular-track .track-flex .popular-track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#page-popular-track .track-flex:last-child {
  margin-bottom: 0;
}

@media (orientation: landscape) {
  #page-popular-track h2 {
    color: #fff;
    font-size: 38px;
    line-height: 57px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  #page-popular-track .track-flex {
    flex-direction: row;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  #page-popular-track .track-flex .popular-track:first-child {
    margin-right: 50px;
  }
  #page-popular-track .track-flex .popular-track {
    width: 550px;
  }
  #page-popular-track .track-flex .track-info {
    width: 480px;
  }
}
@media (orientation: portrait) {
  #page-popular-track h2 {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
  }
  #page-popular-track .track-flex {
    flex-direction: column;
    width: 375px;
    height: 135px;
  }
  #page-popular-track .track-flex .popular-track:first-child {
    margin-bottom: 25px;
  }
  #page-popular-track .track-flex .popular-track {
    min-width: 375px;
  }
  #page-popular-track .track-flex .track-info {
    min-width: 305px;
  }
}
#page-discography {
  padding: 100px 20px 0 20px;
}
#page-discography h2,
#page-discography h3 {
  font-weight: bold;
}
#page-discography h2 {
  margin-bottom: 48px;
  text-transform: uppercase;
}
#page-discography .discography {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#page-discography .discography .discography-item:nth-child(5) {
  margin-bottom: 0;
}
#page-discography .discography .discography-item:nth-child(6) {
  margin-bottom: 0;
}
#page-discography .discography-info p {
  margin: 0;
}
#page-discography .discography-item {
  margin-right: 50px;
  margin-bottom: 25px;
}

@media (orientation: landscape) {
  #page-discography h2 {
    color: #fff;
    font-size: 38px;
    line-height: 57px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  #page-discography h3 {
    font-size: 18px;
    line-height: 27px;
  }

  .discography {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .discography-item img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
  }
  .discography-item .discography-info {
    width: 250px;
  }
}
@media (orientation: portrait) {
  #page-discography h2 {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
  }
  #page-discography h3 {
    font-size: 17px;
    line-height: 27px;
  }

  .discography {
    min-width: 375px;
  }

  .discography-item img {
    width: 137px;
    height: 137px;
    margin-bottom: 10px;
  }
  .discography-item .discography-info {
    width: 137px;
  }
}
#page-similar {
  padding: 100px 20px;
}
#page-similar h2,
#page-similar h3 {
  font-weight: bold;
}
#page-similar h2 {
  margin-bottom: 48px;
  text-transform: uppercase;
}
#page-similar h3 {
  text-align: center;
}
#page-similar .similar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#page-similar .similar .similar:nth-child(5) {
  margin-bottom: 0;
}
#page-similar .similar .similar:nth-child(6) {
  margin-bottom: 0;
}
#page-similar .similar .similar:nth-child(7) {
  margin-bottom: 0;
}
#page-similar .similar .similar:nth-child(8) {
  margin-bottom: 0;
}
#page-similar .similar-info p {
  margin: 0;
  text-align: center;
}
#page-similar .similar-item {
  margin-right: 50px;
  margin-bottom: 25px;
}

@media (orientation: landscape) {
  #page-similar h2 {
    color: #fff;
    font-size: 38px;
    line-height: 57px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  #page-similar h3 {
    font-size: 18px;
    line-height: 27px;
  }

  .similar {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .similar-item img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
  }
  .similar-item .similar-info {
    width: 250px;
  }
  .similar-item .similar-info p {
    width: 250px;
  }
}
@media (orientation: portrait) {
  #page-similar h2 {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
  }
  #page-similar h3 {
    font-size: 18px;
    line-height: 27px;
  }

  .similar {
    min-width: 375px;
  }

  .similar-item img {
    width: 137px;
    height: 137px;
    margin-bottom: 10px;
  }
  .similar-item .similar-info {
    width: 137px;
  }
  .similar-item .similar-info p {
    width: 137px;
  }
}
footer {
  width: 100%;
}
footer h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  margin-bottom: 16px;
}
footer .footer-link {
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
  text-decoration: none;
  height: 20px;
}
footer .footer-link:hover {
  color: #fff;
}
footer .bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
footer .bg-green {
  background: #e0e0e0;
  height: 2px;
}
footer .first-block {
  padding: 62px 20px 71px 20px;
}
footer .first-block .first-flex ul {
  padding: 0;
  margin: 0;
}
footer .first-block .first-flex li {
  list-style-type: none;
}
footer .first-block .first-flex .flex-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  align-items: center;
}
footer .first-block .first-flex .flex-img img {
  vertical-align: middle;
}
footer .first-block p {
  margin: 0;
}
footer .last-block {
  padding: 40px 20px 47px 20px;
}
footer .last-block .last-flex .footer-link {
  height: 25px;
}

@media (orientation: landscape) {
  footer h2 {
    width: 270px;
  }
  footer .first-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  footer .last-block .last-flex {
    max-width: 1200px;
    margin: 0 auto;
  }
  footer .last-block .last-flex div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 432px;
  }
}
@media (orientation: portrait) {
  footer h2 {
    width: 375px;
  }
  footer .first-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 375px;
    height: 549px;
  }
  footer .last-block .last-flex {
    width: 360px;
  }
  footer .last-block .last-flex div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 360px;
    height: 185px;
  }
}

/*# sourceMappingURL=style-artist.css.map */
