@font-face {
  font-family: Roboto-Regular, sans-serif;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold, sans-serif;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}
* {
  top: 0;
  left: 0;
}

body {
  margin: 0;
  background: #08020d;
  font-family: Roboto-Regular, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #cacaca;
}

header {
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  font-size: 11px;
  position: absolute;
}
header nav a {
  text-decoration: none;
  color: #cacaca;
}
header nav a:hover {
  color: #fff;
}
header .logo {
  color: #fff;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  line-height: 0;
}
header input {
  background: #3c3b3d;
  outline: none;
  border: none;
  color: #cacaca;
  text-transform: uppercase;
}
header input::-webkit-input-placeholder {
  color: #757575;
}
header input::-moz-placeholder {
  color: #757575;
}

@media (orientation: landscape) and (min-width: 1201px) {
  header {
    font-size: 11px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    right: 0;
    left: 0;
    top: 25px;
  }
  header nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 314px;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 450px;
  }
  header .logo {
    margin-right: 86px;
    width: 102px;
  }
  header .logo img {
    width: 24px;
  }
  header input {
    border-radius: 100px;
    width: 228px;
    height: 25px;
    padding: 0 10px;
    font-size: 13px;
  }
}
@media (orientation: landscape) and (max-width: 1200px) {
  header {
    font-size: 11px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    right: 0;
    left: 0;
    top: 25px;
  }
  header nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 314px;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: calc(100vw - 314px - 86px - 248px - 102px);
  }
  header .logo {
    margin-right: 86px;
    width: 102px;
  }
  header .logo img {
    width: 24px;
  }
  header input {
    border-radius: 100px;
    width: 228px;
    height: 25px;
    padding: 0 10px;
    font-size: 13px;
  }
}
@media (orientation: portrait) {
  header {
    font-size: 11px;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    margin: 0 20px;
    top: 25px;
    height: 145px;
    justify-content: space-between;
  }
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
  }
  header .search {
    display: flex;
  }
  header input {
    flex: 1;
    border-radius: 100px;
    font-size: 13px;
    height: 25px;
    padding: 0 10px;
  }
  header .logo {
    width: 102px;
  }
  header .logo img {
    width: 24px;
  }
}
.banner-main {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.main-section {
  position: absolute;
  margin: 200px auto;
  text-align: center;
  left: 0;
  right: 0;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 570px;
  margin: 0 auto;
}
.form-container input::-webkit-input-placeholder {
  color: #fff;
}
.form-container input::-moz-placeholder {
  color: #fff;
}
.form-container .btn-banner {
  min-width: 374px;
  text-transform: uppercase;
  flex: 1;
  height: 57px;
  font-size: 13px;
  border: none;
  outline: none;
  background: #34c176;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.btn {
  border: solid 1px;
  border-radius: 5px;
  background: none;
  outline: none;
}

.inpt {
  min-width: 250px;
  min-height: 45px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border-color: #fff;
}

@media (orientation: landscape) {
  .banner-main {
    height: 750px;
  }

  h1 {
    color: #fff;
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    color: #fff;
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  h3 {
    color: #fff;
    font-size: 24px;
    line-height: 36px;
    font-weight: normal;
    margin: 0;
  }

  .main-section {
    margin: 200px auto;
  }
  .main-section p {
    margin: 32px 0 16px 0;
  }
}
@media (orientation: portrait) {
  .banner-main {
    height: 853px;
  }

  h1 {
    color: #fff;
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  h3 {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    margin: 0;
  }

  .main-section {
    margin: 247px 20px;
  }

  .form-container input {
    flex: 1;
  }
}
#page-pricing {
  padding: 100px 20px 0 20px;
  text-align: center;
  max-width: 1200px;
  min-width: 374px;
  margin-left: auto;
  margin-right: auto;
}
#page-pricing h2 {
  margin-bottom: 49px;
}
#page-pricing h3 {
  margin-bottom: 200px;
  text-transform: uppercase;
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.pricing-item {
  text-align: center;
  border: none;
  border-radius: 1rem;
  margin-bottom: 50px;
}
.pricing-item .pricing-value {
  font-size: 32px;
  text-transform: uppercase;
  line-height: 50px;
  margin-bottom: 62px;
  height: 62px;
}
.pricing-item .pricing-value span {
  font-size: 55px;
  vertical-align: text-top;
}

.bg-free {
  background-image: url(../images/subscribe_1.png);
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url(../images/subscribe_2.png);
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url(../images/subscribe_3.png);
  background-position: center;
  background-size: cover;
}

.pricing-footer {
  font-size: 13px;
  margin-top: 84px;
  height: 59px;
}

@media (orientation: landscape) {
  .pricing-container {
    height: 618px;
  }

  .pricing-item {
    width: 318px;
    height: 566px;
    padding: 1.5rem;
  }

  .page-pricing-p {
    margin: 35px 0;
    width: 1200px;
  }

  .link {
    padding: 24px 112px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-color: #fff;
  }
}
@media (orientation: portrait) {
  #page-pricing h2 {
    margin-bottom: 0 20px 49px 20px;
  }

  .pricing-item {
    padding: 15px 1.5rem;
    width: 324px;
    height: 564px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-pricing-p {
    margin: -7px 20px;
  }

  .link {
    padding: 24px 115px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
  }
}
#page-news {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 20px 0 20px;
  text-align: center;
}
#page-news h2 {
  margin-bottom: 48px;
}

.news-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}
.news-item p {
  margin-bottom: 24px;
  color: #cacaca;
}
.news-item .btn-new {
  padding: 19px 32px;
}

.direct {
  flex-direction: row;
}

.revers {
  flex-direction: row-reverse;
}
.revers p {
  margin-bottom: 17px;
}

.btn-new {
  text-decoration: none;
  text-transform: uppercase;
  color: #cacaca;
  border-color: #cacaca;
  font-size: 12px;
}

.btn-new:hover {
  color: #fff;
  border-color: #fff;
}

.news-author {
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width: 185px;
  height: 20px;
}
.news-author .date {
  width: 68px;
  height: 20px;
  margin: 0;
}
.news-author .name-user {
  color: #f89202;
  width: 68px;
  height: 20px;
  margin: 0;
}

@media (orientation: landscape) {
  .news-item {
    margin-bottom: 66px;
  }
  .news-item .photo {
    width: 570px;
    height: 284px;
  }
  .news-item h3 {
    width: 575px;
    height: 45px;
    margin-bottom: 30px;
  }
  .news-item p {
    width: 575px;
    height: 48px;
  }
  .news-item .news-author {
    margin-bottom: 60px;
  }
}
@media (orientation: portrait) {
  .news-item {
    margin-bottom: 81px;
  }
  .news-item .photo {
    width: 374px;
    height: 186px;
    margin-bottom: 50px;
  }
  .news-item h3 {
    height: 23px;
    margin-bottom: 15px;
  }
  .news-item .news-author {
    margin-bottom: 61px;
  }
}
#page-app {
  max-width: 1200px;
  margin: 0 auto 100px auto;
  padding: 100px 20px 0 20px;
}
#page-app h2 {
  text-align: center;
  margin-bottom: 48px;
}
#page-app .mobile-app-p {
  margin-bottom: 16px;
}
#page-app .btn-download {
  font-size: 12.8px;
  border: none;
  outline: none;
  background: #95390c;
  border-radius: 32px;
  color: #fff;
  text-align: center;
  padding: 19px 41px;
  text-decoration: none;
}
#page-app .margin-mobil-app {
  margin-bottom: 30px;
}

@media (orientation: landscape) {
  #page-app .mobile-app-img {
    margin-right: 125px;
  }
  #page-app .mobile-app-p {
    width: 580px;
    height: 48px;
  }
}
@media (orientation: portrait) {
  #page-app .mobile-app-img {
    margin: 0 auto;
  }
  #page-app .mobile-app-p {
    width: 375px;
  }
  #page-app .height-1 {
    height: 96px;
  }
  #page-app .height-2 {
    height: 72px;
  }
  #page-app .column-mobile-app {
    margin: 0 auto;
  }
}
footer {
  width: 100%;
}
footer h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  margin-bottom: 16px;
}
footer .footer-link {
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
  text-decoration: none;
  height: 20px;
}
footer .footer-link:hover {
  color: #fff;
}
footer .bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
footer .bg-green {
  background: #e0e0e0;
  height: 2px;
}
footer .first-block {
  padding: 62px 20px 71px 20px;
}
footer .first-block .first-flex ul {
  padding: 0;
  margin: 0;
}
footer .first-block .first-flex li {
  list-style-type: none;
}
footer .first-block .first-flex .flex-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  align-items: center;
}
footer .first-block .first-flex .flex-img img {
  vertical-align: middle;
}
footer .first-block p {
  margin: 0;
}
footer .last-block {
  padding: 40px 20px 47px 20px;
}
footer .last-block .last-flex .footer-link {
  height: 25px;
}

@media (orientation: landscape) {
  footer h2 {
    width: 270px;
  }
  footer .first-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  footer .last-block .last-flex {
    max-width: 1200px;
    margin: 0 auto;
  }
  footer .last-block .last-flex div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 432px;
  }
}
@media (orientation: portrait) {
  footer h2 {
    width: 375px;
  }
  footer .first-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 375px;
    height: 549px;
  }
  footer .last-block .last-flex {
    width: 360px;
  }
  footer .last-block .last-flex div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 360px;
    height: 185px;
  }
}

/*# sourceMappingURL=style.css.map */
