.banner-main {
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#page-description {
    position: absolute;
    margin: 200px auto;
    text-align: center;
    left: 0;
    right: 0;

    h1,
    h2 {
        margin: 0;
    }
}



.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 570px;
    margin: 0 auto;

    @include form;

    button {
        min-width: 374px;
        text-transform: uppercase;
        flex: 1;

        @include button-color (13px, 57px, $green, 5px);
    }
}

@media (orientation: landscape) {
    .banner-main {
        height: 750px;
    }

    @include h (landscape);

    #page-description {
        margin: 200px auto;

        p {
            margin: 32px 0 16px 0;
        }
    }
    
}

@media (orientation: portrait) {
    .banner-main {
        height: 853px;
    }

    @include h (portrait);

    #page-description {
        margin: 247px 20px;
    }

    .form-container input {
        flex: 1;
    }
}