.banner-main {
    @include bg (url(../images/banner.png));
    background-repeat: no-repeat;
    margin: 0 auto;
}

.main-section {
    position: absolute;
    margin: 200px auto;
    text-align: center;
    left: 0;
    right: 0;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 570px;
    margin: 0 auto;

    input::-webkit-input-placeholder {
        color: $white;
    }

    input::-moz-placeholder {
        color: $white;
    }

    button {
        min-width: 374px;
        text-transform: uppercase;
        flex: 1;

        @include button-color (13px, 57px, $green, 5px);
    }
}

.btn {
    @include btn;
}

.inpt {
    min-width: calc(270px - 20px);
    min-height: 45px;
    padding-left: 20px;
    margin-bottom: 1.5rem;
}

@media (orientation: landscape) {
    .banner-main {
        height: 750px;
    }

    @include h (landscape);

    .main-section {
        margin: 200px auto;

        p {
            margin: 32px 0 16px 0;
        }
    }
    
}

@media (orientation: portrait) {
    .banner-main {
        height: 853px;
    }

    @include h (portrait);

    .main-section {
        margin: 247px 20px;
    }

    .form-container input {
        flex: 1;
    }
}