#page-description {
    padding: 200px 20px;
}

.banner-main {
    @include bg (url(../images/banner.png));
    background-repeat: no-repeat;
    width: 1440px;
    position: absolute;
    top: 0;
    left: calc(50vw - 720px);
    z-index: -1;
}

.main-section {
    margin: 0 auto;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 570px;
    margin: 0 auto;

    input::-webkit-input-placeholder {
        color: $dark-gray;
    }

    input::-moz-placeholder {
        color: $dark-gray;
    }

    .btn-banner {
        min-width: 374px;
        text-transform: uppercase;
        flex: 1;
        height: 57px;

        @include button-color (13px, $green, 5px);
    }

    .btn {
        border-radius: 5px;
        outline: none;
    }
}

.inpt {
    min-width: calc(270px - 20px);
    min-height: 47px;
    padding-left: 20px;
    margin-bottom: 1.5rem;
    border: solid 1px $white;
    background: none;
    color: $white;
}

@media (orientation: landscape) {

    .banner-main {
        height: 750px;
    }

    @include h (landscape);

    .main-section {
        p {
            margin: 32px 0 16px 0;
        }
    }

    
}

@media (orientation: portrait) {

    .banner-main {
        height: 853px;
    }

    @include h (portrait);

    .main-section {
        margin-top: 47px;
    }

    .form-container input {
        flex: 1;
    }
}