#page-discography {
    padding: 100px 20px 0 20px;

    h2,
    h3 {
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: -0.6px;
    }

    h2 {
        margin-bottom: 48px;
        text-transform: uppercase;
    }

    .discography {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        .discography-item:nth-child(5) {
            margin-bottom: 0;
        }

        .discography-item:nth-child(6) {
            margin-bottom: 0;
        }
    }

    .discography-info {
        p {
            margin: 0;
        }
    }

    .discography-item {
        margin-right: 50px;
        margin-bottom: 25px;
    }
}

@media (orientation: landscape) {
    #page-discography {
        h2 {
            color: $white;
            font-size: 38px;
            line-height: 57px;
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }

        h3 {
            font-size: 18px;
            line-height: 27px;
        }
    }

    .discography {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .discography-item {
        img {
            width: 250px;
            height: 250px;
            margin-bottom: 10px;
        }

        .discography-info {
            width: 250px;
        }
    }
}

@media (orientation: portrait) {
    #page-discography {
        h2 {
            color: $white;
            font-size: 18px;
            line-height: 27px;
        }

        h3 {
            font-size: 18px;
            line-height: 27px;  
        }
    }

    .discography {
        min-width: 375px;
    }

    .discography-item {
        img {
            width: 137px;
            height: 137px;
            margin-bottom: 10px;
        }

        .discography-info {
            width: 137px;

            h3 {
                height: 27px;
            }

            .h3-height {
                height: 54px;
            }

            .h3-height-margin {
                margin-top: 54px;
            }
        }
    }
}