footer {
    width: 100%;

    .bg-gradient {
        background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
    }

    .bg-green {
        background: $gray;
    }

    .first-block {
        height: calc(272px - 6rem);
        padding: 3rem 20px;
    }

    .line-green {
        height: 2px;
    }

    .last-block {
        height: calc(113px - 4rem);
        padding: 2rem 20px;
    }
}
