@mixin h ($orientation) {
    @if ($orientation == landscape) {
        h1 {
            font-size: 60px;
            line-height: 90px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
        }

        h2 {
            font-size: 38px;
            line-height: 57px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
        }

        h3 {
            font-size: 24px;
            line-height: 36px;
            font-weight: normal;
            text-transform: uppercase;
            margin: 0;
        }

    } @else {
        h1 {
            font-size: 30px;
            line-height: 45px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
        }

        h2 {
            font-size: 18px;
            line-height: 27px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
        }

        h3 {
            font-size: 16px;
            line-height: 24px;
            font-weight: normal;
            text-transform: uppercase;
            margin: 0;
        }
    }
}

@mixin form {
    min-width: calc(270px - 20px);
    min-height: 45px;
    padding-left: 20px;
    margin-bottom: 1.5rem;
    border: $dark-gray solid 2px;
    border-radius: 3px;
    background: none;
    font-size: 14px;
    outline: none;
}

@mixin button-color ($fs, $h, $bg, $br) {
    font-size: $fs;
    height: $h;
    border: none;
    outline: none;
    background: $bg;
    border-radius: $br;
    color: $white;
    text-align: center;
}

@mixin bg ($puth) {
    background-image: $puth;
    background-position: center;
    background-size: cover;
}

@mixin btn ($clr, $br, $bg, $w, $h) {
    border: 1px solid $bg;
    border-radius: $br;
    padding: $h $w;
    color: $clr;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}