#page-similar {
  padding: 100px 20px 0;
  margin-bottom: 100px;

  h2 {
    margin-bottom: 48px;
    text-transform: uppercase;
    font-weight: bold;
  }

  h3 {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    text-transform: capitalize;
  }

  .similar {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
  }

  .similar-info {
    p {
      margin: 0;
      text-align: center;
      letter-spacing: 0.5px;
    }
  }

  .similar-item {
    margin-right: 50px;
    margin-bottom: 25px;
  }
}

@media (orientation: landscape) {
  #page-similar {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    h2 {
      color: $white;
      font-size: 38px;
      line-height: 57px;
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .similar {
    max-width: 1200px;
    height: 663px;
    margin-left: auto;
    margin-right: auto;

    .margin-bottom-landscape {
      margin-bottom: 0;
    }
  }

  .similar-item {
    img {
      width: 250px;
      height: 250px;
      margin-bottom: 10px;
    }

    .similar-info {
      width: 250px;
    }
  }
}

@media (orientation: portrait) {
  #page-similar {
    h2 {
      color: $white;
      font-size: 18px;
      line-height: 27px;
    }
  }

  .similar {
    min-width: 375px;
    height: 995px;

    .margin-bottom-portrait {
      margin-bottom: 0;
    }
  }

  .similar-item {
    img {
      width: 137px;
      height: 137px;
      margin-bottom: 10px;
    }

    .similar-info {
      width: 137px;
      height: 75px;

      h3 {
        width: 137px;
        height: 27px;
      }

      p {
        width: 137px;
        height: 48px;
      }
    }
  }
}
