#page-pricing {
    padding-top: 100px;
    text-align: center;
    max-width: 1200px;
    min-width: 374px;
    margin: 0 auto;

    h2 {
        margin-bottom: 49px;
    }

    h3 {
        margin-bottom: 200px;
    }

}

.pricing-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.pricing-item {
    text-align: center;
    border: none;
    border-radius: 1rem;
    margin-bottom: 50px;

    .pricing-value {
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 76px;

        span {
            font-size: 64px;
            vertical-align: -webkit-baseline-middle;
            line-height: 0;
        }
    }
}

.bg-free {
    @include bg (url(../images/subscribe_1.png));
}

.bg-standart {
    @include bg (url(../images/subscribe_2.png));
}

.bg-premium {
    @include bg (url(../images/subscribe_3.png));
}

.pricing-footer {
    font-size: 13px;
    margin-top: 84px;
}


@media (orientation: landscape) {
    .pricing-item {
        width: 318px;
        height: 566px;
        padding: 1.5rem;
    }

    .page-pricing-p {
        margin: -11px 20px;
    }

    .btn {
        @include btn ($white, 5px, $white, 112px, 24px);
    }
    
}

@media (orientation: portrait) {
    .pricing-item {
        padding: 15px 1.5rem;
        width: 324px;
        height: 564px;
        margin-left: auto;
        margin-right: auto;
    }

    .page-pricing-p {
        margin: -7px 20px;
    }

    .btn {
        @include btn ($white, 5px, $white, 115px, 24px);
    }
}