$black: #08020d!default;
$gray: #e0e0e0!default;
$dark-gray: #cacaca!default;
$dark: #3c3b3d!default;
$green: #34c176!default;
$orange: #f89202!default;
$purple: #5328a1!default;
$red: #95390c!default;