$black: #08020d!default;
$white: #fff!default;
$gray: #e0e0e0!default;
$dark-gray: #cacaca!default;
$placeholder: #757575!default;
$dark: #3c3b3d!default;
$green: #34c176!default;
$orange: #f89202!default;
$purple: #5328a1!default;
$red: #95390c!default;

@font-face{
  font-family: Roboto-Regular, sans-serif;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face{
  font-family: Roboto-Bold, sans-serif;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}
